<div class="header">
  <div class="header__title" routerLink="/">Ecommerce</div>
  <div class="header__navigation">

    <div *ngIf="!isAuthotizrd">
      <a class="app-a" routerLink="auth/registration" routerLinkActive="app-a_active">Registrar</a>
      <a class="app-a" routerLink="auth/login" routerLinkActive="app-a_active">Login</a>
    </div>

    <a class="app-a" routerLink="demo" routerLinkActive="app-a_active">Demo</a>

    <div *ngIf="isAuthotizrd">
      <a class="app-a" routerLink="jobs">Trabajos</a>
      <a class="app-a" (click)="OnProfileNavigate()">Perfil</a>
      <a class="app-a" routerLink="employee">Empleados</a>
      <a class="app-a" (click)="onSignOut()">Cerrar Sesion</a>


    </div>
  </div>
</div>
